<nav class="layout-nav">
  <div class="row">

    <div class="col-xs-14 col-sm-8 col-md-6">
      <a class="nav-link__home" href="{{ site.baseurl }}/">
       <img src="/uploads/actvcontent-logo.svg" alt="Actvcontent Logo"> 
      </a>
    </div>

    <div class="col-xs-hidden col-sm-10 col-md-12 text-center">
      <a class="nav-link js-nav-product-link" href="#product">Product</a>
      <!--<a class="nav-link js-testimonials-link" href="#testimonials">Testimonials</a>-->
      <a class="nav-link" href="/blog">Blog</a>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-6 text-right">
      <a class="nav-button" href="#demo-modal" rel="modal:open">Get Demo</h1></a>
    </div>

  </div>
</nav>